{#
    Hard pagination occurs when the server only generates a single
    table-page at a time, on the browser's request. See comment
    in soft-pagination.twig
#}

<div class="sort-container" data-handle-for="{{ handle }}">

</div>
<script>
    $(function() {
        uwdoem.filter.setupFilter(uwdoem.sort.setupSortFilter, "{{ handle }}");
    });
</script>