{% if header %}
    <h1 class=header>{{ header }}</h1>
{% endif %}

{% if subHeader %}
    <h2 class=subheader>{{ subHeader }}</h2>
{% endif %}

{% if header or subheader %}
<br class="page-content-head">
{% endif %}

{% block content %}
{{ content|raw }}
{% endblock content %}