<form class="prevent-double-submit" method="post" target="_self" data-request-uri="{{ requestURI }}">
    <table>
        {% for fieldName, field in visibleFields %}
            {{ field|write|raw }}
        {% endfor %}
    </table>

    <div class="form-actions">
        {% for action in actions %}
            {{ action|write|raw }}
        {% endfor %}
    </div>

</form>