{#
    Hard pagination occurs when the server only generates a single
    table-page at a time, on the browser's request. See comment
    in soft-pagination.twig
#}

<div class="sort-container" data-handle-for="{{ id }}">

</div>
<script>
    $(function() {
        athens.filter.setupFilter(athens.sort.setupSortFilter, "{{ id }}");
    });
</script>