<div id={{ id }} class="ajax-loaded-section" data-target={{ content|raw }}></div>
<script>
    $().ready(
            function(){
                uwdoem.ajax_section.loadSection("{{ label|slugify }}");
            }
    );
</script>