<div {% if id %}id="{{ id }}"{% endif %} class = 'breadcrumbs-container'>
    <nav class='breadcrumbs' role='navigation'>
        <ul>
            {% for writable in writables %}
                <li>{{ writable|write|raw }}</li>
            {% endfor %}
        </ul>
    </nav>
</div>