<span class="choice-field">

    {% if required %}
        <input type="radio" name="{{ slug }}" value="1" {% if initial is same as(true) %}checked{% endif %}> Yes
        <input type="radio" name="{{ slug }}" value="0" {% if initial is same as(false) %}checked{% endif %}> No
    {% else %}
        <input type="checkbox" name="{{ slug }}" value="1" {% if initial is same as(true) %}checked{% endif %}>
    {% endif %}

</span>
{% include "field/errors.twig" %}