{% extends "page/base.twig" %}


{% block head %}
    <link rel="stylesheet" href="vendor/uwdoem/framework/assets/uw-brand/css/full.css">
    {{ parent() }}
{% endblock head %}


{% block navheader %}
    <div style="position:relative;top:-120px;left:-10px"><img style="width:260px;height:46px" src="../project-assets/images/osfa.png"><hr style="height:1px;border:0;background-color:#CCC;width:95%">
    </div>
{% endblock navheader %}


{% block footer %}
{% endblock footer %}