<div class="section-container">
    {% if label %}<div class="section-label">{{ label }}</div>{% endif %}
    <div class="section-content">{{ content|saferaw|raw }}</div>
    <div class="section-writables">
    {% for writable in writables  %}
        {{ writable|write|raw }}
    {% endfor %}
    </div>
</div>