<span class="choice-field {{ classes|join(' ') }}" {{ data|writedata|raw }}>
    <input type="checkbox" name="{{ slug }}" value="{{ label|escape }}" {% if initial %}checked{% endif %}>
</span>
{% include "field/errors.twig" %}