<span class="choice-field {{ classes|join(' ') }}" {{ data|writedata|raw }}>
    <input type="checkbox" name="{{ slug }}" value="1" {% if initial is same as(true) %}checked{% endif %}>
</span>
{% include "field/errors.twig" %}