<table>
<!-- render filters, not yet implemented -->
<!-- header row -->
<tr>
    {% if rows is empty %}
        <th>No data found</th>
    {%  else %}
        {% for fieldName, field in rows[0].getFieldBearer.getVisibleFields %}
            <th data-for="{{ field.getLabelSlug }}">{{ field.getLabel }}</th>
        {% endfor %}
    {% endif %}



</tr>

<!-- data rows -->
{% for row in rows %}
    {{ row|write|raw }}
{% endfor %}
</table>