{% include "field/preamble.twig" %}
<span class="choice-field">
    {% for choiceSlug, choice in choices %}
    <input type="radio" name="{{ slug }}" value="{{ choiceSlug }}" {% if choiceSlug == initial %}checked{% endif %}> {{ choice }}
    {% endfor %}
</span>
{% include "field/postamble.twig" %}