{% include "field/preamble.twig" %}
<span class="choice-field">
    {% for choice in choices %}
    <input type="radio" name="{{ slug }}" value="{{ choice|slugify }}" {% if choice|slugify == initial %}checked{% endif %}> {{ choice }}
    {% endfor %}
</span>
{% include "field/postamble.twig" %}