{% include "field/preamble.twig" %}
<span class="multiple-choice-field">
    {% for choice in choices %}
        <input type="checkbox" name="{{ slug }}" value="{{ choice }}" {% if choice == initial %}checked{% endif %}> {{ choice }}
    {% endfor %}
</span>
{% include "field/postamble.twig" %}