{% include "field/preamble.twig" %}
<span class="multiple-choice-field">
    {% for choiceSlug, choice in choices %}
        <input type="checkbox" name="{{ slug }}[]" value="{{ choiceSlug }}" {% if choiceSlug in initial %}checked{% endif %}> {{ choice }}
    {% endfor %}
</span>
{% include "field/postamble.twig" %}