{% include "field/preamble.twig" %}
<span class="textarea-field">
    <textarea rows="{{ min(15, max(5, size/100)) }}" maxlength="{{ size }}" name="{{ slug }}">{{ initial }}</textarea>
</span>
{% include "field/postamble.twig" %}